.studentlist {
  flex: 10;
  margin: 5px 10px 5px 10px;
}
.userlistDelete {
  color: red;
  background-color: red;
}

.dialog {
  background-color: teal;
}

.addbuttons {
  margin-right: 5px;
}

.userAddupdateButton {
  height: 30px;
  width: 120px;
  padding-right: 10px;
}
.viewgrade {
  background-color: teal;
  color: white;
}
.export {
  height: 30px;
  width: 100px;
}
.division1 {
  padding-right: 86.5%;
}

.division {
  padding-right: 10px;
}
